# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

##  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

The CSV files contain raw data across 10 zip codes and 45 columns, with each column looking at a particular metric.

The first 45 columns is a series of averages across the columns for the 10 zip codes, transposed so that the average metrics are row-wise.

We can thus break the imported dataframe into two tables - the first showing these averages, the second showing the underlying raw data.

In [2]:
#Your code here
import pandas as pd

In [28]:
df = pd.read_csv('Data/Zipcode_Demos.csv')

In [29]:
avg_stats = df.iloc[1:46,1:3]
avg_stats

                     Average Statistics Unnamed: 2
1                     JURISDICTION NAME    10005.8
2                    COUNT PARTICIPANTS        9.4
3                          COUNT FEMALE        4.8
4                        PERCENT FEMALE      0.404
5                            COUNT MALE        4.6
6                          PERCENT MALE      0.396
7                  COUNT GENDER UNKNOWN          0
8                PERCENT GENDER UNKNOWN          0
9                    COUNT GENDER TOTAL        9.4
10                 PERCENT GENDER TOTAL         80
11               COUNT PACIFIC ISLANDER          0
12             PERCENT PACIFIC ISLANDER          0
13                COUNT HISPANIC LATINO          2
14              PERCENT HISPANIC LATINO      0.105
15                COUNT AMERICAN INDIAN          0
16              PERCENT AMERICAN INDIAN          0
17             COUNT ASIAN NON HISPANIC        3.6
18           PERCENT ASIAN NON HISPANIC      0.437
19             COUNT WHITE NON HISPANIC        0.8
20           PERCENT WHITE NON HISPANIC      0.036
21             COUNT BLACK NON HISPANIC        2.6
22           PERCENT BLACK NON HISPANIC      0.181
23                COUNT OTHER ETHNICITY        0.4
24              PERCENT OTHER ETHNICITY       0.04
25              COUNT ETHNICITY UNKNOWN          0
26            PERCENT ETHNICITY UNKNOWN          0
27                COUNT ETHNICITY TOTAL        9.4
28              PERCENT ETHNICITY TOTAL       79.9
29       COUNT PERMANENT RESIDENT ALIEN        0.5
30     PERCENT PERMANENT RESIDENT ALIEN      0.061
31                     COUNT US CITIZEN        8.9
32                   PERCENT US CITIZEN      0.739
33           COUNT OTHER CITIZEN STATUS          0
34         PERCENT OTHER CITIZEN STATUS          0
35         COUNT CITIZEN STATUS UNKNOWN          0
36       PERCENT CITIZEN STATUS UNKNOWN          0
37           COUNT CITIZEN STATUS TOTAL        9.4
38         PERCENT CITIZEN STATUS TOTAL         80
39     COUNT RECEIVES PUBLIC ASSISTANCE        2.3
40   PERCENT RECEIVES PUBLIC ASSISTANCE      0.151
41    COUNT NRECEIVES PUBLIC ASSISTANCE        7.1
42  PERCENT NRECEIVES PUBLIC ASSISTANCE      0.649
43      COUNT PUBLIC ASSISTANCE UNKNOWN          0
44    PERCENT PUBLIC ASSISTANCE UNKNOWN          0
45        COUNT PUBLIC ASSISTANCE TOTAL        9.4

In [37]:
zip_level_raw = pd.read_csv('Data/Zipcode_Demos.csv',header = 47)
zip_level = zip_level_raw.iloc[:,1:]
zip_level

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
1,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
2,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
3,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100
5,10006,6,2,0.33,4,0.67,0,0,6,100,...,6,100,0,0.00,6,1.00,0,0,6,100
6,10007,1,0,0.00,1,1.00,0,0,1,100,...,1,100,1,1.00,0,0.00,0,0,1,100
7,10009,2,0,0.00,2,1.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100
8,10010,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
9,10011,3,2,0.67,1,0.33,0,0,3,100,...,3,100,0,0.00,3,1.00,0,0,3,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encountered some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [ ]:
#Hint: here's a useful programming pattern to use.
try:
    #do something
except Exception as e:
    #handle your exception e

In [69]:
bad_rows = []
row_count = sum(1 for row in 'Data/Yelp_Reviews_corrupt.csv')
index = list(range(row_count))

for i in index:
    try:
        to_skip = list(range(row_count)).remove(i)
        pd.read_csv('Data/Yelp_Reviews_corrupt.csv',skiprows=to_skip)
    except pd.errors.ParserError:
        bad_rows.append(i)
    
print(bad_rows)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]

In [16]:
for i in list(range(1950,3000)):
    try:
        pd.read_csv('Data/Yelp_Reviews_corrupt.csv', nrows = i)
    except:
        print(i)

1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2852
2853
2854
2855
2856
2857
2858
2859
2860
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2872
2873
2874
2875
2876
2877
2878
2879
2880
2881
2882
2883
2884
2885
2886
2887
2888
2889
2890
2891
2892
2893
2894
2895
2896
2897
2898
2899
2900
2901
2902
2903
2904
2905
2906
2907
2908
2909
2910
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2922
2923
2924
2925
2926
2927
2928
2929
2930
2931
2932
2933
2934
2935
2936
2937
2938
2939
2940
2941
2942
2943
2944
2945
2946
2947
2948
2949
2950
2951
2952
2953
2954
2955
2956
2957
2958
2959
2960
2961
2962
2963
2964
2965
2966
2967
2968
2969
2970
2971
2972
2973
2974
2975
2976
2977
2978
2979
2980
2981
2982
2983
2984
2985
2986
2987
2988
2989
2990
2991
2992
2993
2994
2995
2996
2997
2998
2999

In [19]:
df_corrupt = pd.read_csv('Data/Yelp_Reviews_corrupt.csv', nrows = 1961)
df_corrupt.tail()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1956,4993,u8C8pRvaHXg3PgDrsUHJHQ,0,2016-08-08,0.0,gXmHGBSBBz2-uHdvGf4lZQ,2.0,just went to a retirement party upstairs and t...,1.0,tFa-r1pxZh04FjxNSEQgcQ
1957,4998,-9nai28tnoylwViuJVrYEQ,0,2015-03-22,0.0,u-zqCN_IXfypJIUzIVUuzw,5.0,Great restaurant and great atmosphere.,NaN,NaN
1958,I had an awesome great time with friends.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1959,I loved the tapas and the excellent paella.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,I can't wait to come back soon.,0,otDVyX37h61WEbqPLEjCmQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
bad_rows = []

for index,row in df_corrupt.iterrows():
    try:
        int((row['Unnamed: 0']))
    except:
        bad_rows.append(index)
        
print(bad_rows)

[21, 22, 24, 25, 27, 31, 33, 34, 45, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 75, 102, 103, 104, 116, 117, 126, 143, 144, 146, 147, 148, 150, 151, 152, 153, 154, 155, 157, 158, 160, 161, 162, 164, 165, 166, 167, 169, 170, 171, 172, 174, 175, 177, 178, 181, 182, 183, 184, 186, 187, 188, 189, 191, 192, 193, 195, 197, 198, 200, 201, 202, 204, 205, 206, 208, 209, 211, 212, 213, 214, 216, 217, 219, 220, 221, 224, 225, 226, 227, 228, 229, 230, 232, 233, 234, 235, 236, 237, 238, 239, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 255, 256, 258, 260, 261, 262, 263, 264, 267, 268, 269, 271, 272, 273, 275, 276, 277, 278, 279, 280, 282, 283, 287, 288, 289, 290, 292, 293, 294, 296, 299, 300, 301, 302, 303, 304, 305, 308, 309, 310, 312, 313, 314, 315, 316, 317, 319, 322, 324, 325, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 338, 339, 340, 341, 342, 343, 344, 346, 347, 349, 357, 358, 359, 360, 372, 401, 403, 404, 406, 407, 408, 410, 417, 418, 420, 421, 422, 427, 431, 436, 437, 440, 442, 443, 444, 445, 446, 448, 450, 452, 453, 454, 456, 458, 459, 461, 462, 464, 465, 466, 467, 469, 470, 471, 472, 473, 474, 477, 478, 480, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 497, 498, 499, 500, 501, 504, 505, 510, 518, 543, 545, 556, 577, 579, 580, 581, 582, 584, 586, 588, 590, 592, 606, 608, 609, 631, 632, 633, 635, 636, 637, 638, 649, 651, 652, 654, 655, 689, 690, 709, 711, 712, 713, 714, 716, 717, 718, 719, 720, 722, 723, 724, 734, 735, 736, 737, 738, 741, 742, 743, 745, 747, 765, 769, 772, 773, 774, 775, 776, 794, 795, 802, 885, 886, 919, 920, 926, 927, 936, 937, 938, 939, 940, 942, 943, 951, 981, 982, 984, 986, 989, 991, 1003, 1004, 1006, 1019, 1026, 1044, 1051, 1058, 1060, 1061, 1066, 1067, 1085, 1086, 1094, 1095, 1125, 1137, 1143, 1144, 1154, 1165, 1166, 1168, 1169, 1170, 1176, 1182, 1183, 1185, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1208, 1209, 1217, 1249, 1256, 1257, 1258, 1261, 1264, 1272, 1282, 1286, 1295, 1303, 1304, 1306, 1321, 1322, 1323, 1335, 1337, 1338, 1339, 1344, 1345, 1347, 1348, 1351, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1370, 1377, 1380, 1382, 1383, 1384, 1410, 1411, 1413, 1414, 1416, 1417, 1418, 1419, 1421, 1422, 1423, 1424, 1426, 1428, 1429, 1431, 1432, 1433, 1435, 1436, 1437, 1439, 1440, 1441, 1444, 1448, 1449, 1453, 1472, 1475, 1478, 1480, 1484, 1485, 1486, 1487, 1488, 1489, 1492, 1507, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1520, 1522, 1523, 1524, 1532, 1533, 1535, 1536, 1555, 1556, 1560, 1566, 1581, 1584, 1585, 1597, 1606, 1607, 1608, 1609, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1626, 1633, 1634, 1640, 1647, 1649, 1651, 1665, 1666, 1686, 1698, 1705, 1714, 1751, 1753, 1755, 1781, 1801, 1803, 1851, 1852, 1853, 1862, 1863, 1877, 1878, 1879, 1886, 1887, 1907, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1942, 1945, 1958, 1959, 1960]

In [24]:
print(df_corrupt.loc[21])

Unnamed: 0     Food was pretty decent as well. Like the salad...
business_id                                                  NaN
cool                                                         NaN
date                                                         NaN
funny                                                        NaN
review_id                                                    NaN
stars                                                        NaN
text                                                         NaN
useful                                                       NaN
user_id                                                      NaN
Name: 21, dtype: object

In [27]:
df_corrupt.drop(bad_rows,inplace = True,axis = 0)
df_corrupt

KeyError: '[  21   22   24   25   27   31   33   34   45   46   47   48   49   51\n   52   53   54   56   57   58   59   61   62   63   64   65   66   67\n   75  102  103  104  116  117  126  143  144  146  147  148  150  151\n  152  153  154  155  157  158  160  161  162  164  165  166  167  169\n  170  171  172  174  175  177  178  181  182  183  184  186  187  188\n  189  191  192  193  195  197  198  200  201  202  204  205  206  208\n  209  211  212  213  214  216  217  219  220  221  224  225  226  227\n  228  229  230  232  233  234  235  236  237  238  239  242  243  244\n  245  246  247  248  249  250  251  252  253  255  256  258  260  261\n  262  263  264  267  268  269  271  272  273  275  276  277  278  279\n  280  282  283  287  288  289  290  292  293  294  296  299  300  301\n  302  303  304  305  308  309  310  312  313  314  315  316  317  319\n  322  324  325  327  328  329  330  331  332  333  334  335  336  338\n  339  340  341  342  343  344  346  347  349  357  358  359  360  372\n  401  403  404  406  407  408  410  417  418  420  421  422  427  431\n  436  437  440  442  443  444  445  446  448  450  452  453  454  456\n  458  459  461  462  464  465  466  467  469  470  471  472  473  474\n  477  478  480  482  483  484  485  486  487  488  489  490  491  492\n  497  498  499  500  501  504  505  510  518  543  545  556  577  579\n  580  581  582  584  586  588  590  592  606  608  609  631  632  633\n  635  636  637  638  649  651  652  654  655  689  690  709  711  712\n  713  714  716  717  718  719  720  722  723  724  734  735  736  737\n  738  741  742  743  745  747  765  769  772  773  774  775  776  794\n  795  802  885  886  919  920  926  927  936  937  938  939  940  942\n  943  951  981  982  984  986  989  991 1003 1004 1006 1019 1026 1044\n 1051 1058 1060 1061 1066 1067 1085 1086 1094 1095 1125 1137 1143 1144\n 1154 1165 1166 1168 1169 1170 1176 1182 1183 1185 1187 1188 1189 1190\n 1191 1192 1193 1195 1196 1197 1198 1199 1200 1201 1202 1208 1209 1217\n 1249 1256 1257 1258 1261 1264 1272 1282 1286 1295 1303 1304 1306 1321\n 1322 1323 1335 1337 1338 1339 1344 1345 1347 1348 1351 1357 1358 1359\n 1360 1361 1362 1363 1370 1377 1380 1382 1383 1384 1410 1411 1413 1414\n 1416 1417 1418 1419 1421 1422 1423 1424 1426 1428 1429 1431 1432 1433\n 1435 1436 1437 1439 1440 1441 1444 1448 1449 1453 1472 1475 1478 1480\n 1484 1485 1486 1487 1488 1489 1492 1507 1509 1510 1511 1512 1513 1514\n 1515 1516 1520 1522 1523 1524 1532 1533 1535 1536 1555 1556 1560 1566\n 1581 1584 1585 1597 1606 1607 1608 1609 1614 1615 1616 1617 1618 1619\n 1620 1621 1626 1633 1634 1640 1647 1649 1651 1665 1666 1686 1698 1705\n 1714 1751 1753 1755 1781 1801 1803 1851 1852 1853 1862 1863 1877 1878\n 1879 1886 1887 1907 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920\n 1942 1945 1958 1959 1960] not found in axis'

In [31]:
df_corrupt.head(25)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0.0,dDl8zu1vWPdKGihJrwQbpw,5.0,I love this place! My fiance And I go here atl...,0.0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1.0,LZp4UX5zK3e-c5ZGSeo3kA,1.0,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0.0,jsDu6QEJHbwP2Blom1PLCA,5.0,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0.0,pfavA0hr3nyqO61oupj-lA,1.0,This place sucks. The customer service is horr...,2.0,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0.0,STiFMww2z31siPY7BWNC2g,5.0,I have been an Emerald Club member for a numbe...,0.0,TlvV-xJhmh7LCwJYXkV-cg
5,11,UBv8heCQR0RPnUQG0zkXIQ,0,2016-09-23,0.0,HkYqGb0Gplmmk-xlHTRBoA,1.0,The score should be negative. Its HORRIBLE. Th...,0.0,NhOc64RsrTT1Dls50yYW8g
6,12,hdgYnadxg0GANhWOJabr2g,0,2014-08-23,0.0,RgqWdZA4xR023iP3T6jVfA,5.0,I went there twice and I am pretty happy with ...,0.0,NhOc64RsrTT1Dls50yYW8g
7,19,gZGsReG0VeX4uKViHTB9EQ,0,2017-08-16,0.0,51RHs_V_fjuistnuKxNpEg,5.0,Finally! After trying many Mexican restaurants...,0.0,5ngpW5tf3ep680eG1HxHzA
8,25,f-v1fvtnbdw_QQRsCnwH-g,0,2017-11-18,0.0,alI_kRKyEHfdHibYGgtJbw,1.0,I have to write a review on the Fractured Prun...,0.0,Fc_nb6N6Sdurqb-rwsY1Bw
9,26,yz66FIUPDKGhILDWzRLeKg,0,2017-11-18,0.0,85DRIjwPJOTb4q0qOlBstw,1.0,I wish i could tell you all about the food but...,1.0,Fc_nb6N6Sdurqb-rwsY1Bw
10,27,6qDRqHWqf0EeHupSUEBfKg,0,2015-12-10,0.0,GbiLIKmQPVCBtdNkTVdVSA,5.0,Wonderful! One of my favorite places. BBQ is e...,0.0,G22ITfVETYHtIhnn5lLRrQ
11,28,7AlULGZI1pHt0imODsqdkg,0,2012-02-12,0.0,UaHgsL0xS4UnJ_iKqeOk_w,5.0,The price is about the same as Quizinos. The s...,0.0,FjH3TH8OvHGLNEbzdEYlNg
12,29,th4pZ5LkoIIkb1Vmu_m2DA,0,2012-02-12,0.0,c4zzAD1S6721Fh-acCBy-g,4.0,The food was ok. You get a lot of food for the...,0.0,FjH3TH8OvHGLNEbzdEYlNg
13,30,nsSfCKW9KDB4COj9bzXApw,0,2012-02-12,0.0,TTBwocu2mvqJFJrwmJN0Sw,5.0,The staff were friendly and helpful. The food ...,1.0,FjH3TH8OvHGLNEbzdEYlNg
14,31,cP8ErpZfRzdVR5Fvks-pnQ,0,2012-02-12,0.0,-CresnnXQSHrQ85Ogm-Pqw,5.0,The staff were very helpful. We painted potter...,0.0,FjH3TH8OvHGLNEbzdEYlNg
15,32,Edr6SafmQrZa6CcFuItoqg,0,2014-06-03,0.0,U04YgYr4PiGUxB46J4xapg,2.0,Limited vegetarian options. Ordered Greek sala...,0.0,B7Fh30KQT1xPSGt_pIhRRA
16,35,SpJYus_184M2TdT7t52rIA,0,2016-11-18,0.0,s9cpVj40VR_yl0lXbZQe6w,5.0,I trust my vehicles here. Comparable prices. M...,0.0,zx_Op2OAOM_fRic9tU-jqA
17,40,qdC2h3MqCNussc5lhzL7gg,0,2015-11-05,0.0,AJ0IglpYAp2D0daOlVGIdg,1.0,This place doesn't even deserve 1 star. Horrib...,18.0,Ka7TIp74VHSa90rfdg4_2g
18,41,XgRDG9E_WLEbl8S-QUqQkQ,0,2015-11-05,0.0,5D_MsAJHrMa8QKkpE3g1Sg,5.0,The butter burger was cooked perfectly and jui...,0.0,Ka7TIp74VHSa90rfdg4_2g
19,42,awgoBwuhzlLGKEIverTGjQ,0,2017-01-21,0.0,5bWN_IN8MQGjJ6_ZIXffDw,5.0,Best location ever! I love love love the manag...,0.0,yyPHK6khPa4-ErV9U32x3A
20,74,iO3GuIiZxzv-iETGVnoeVA,0,2016-11-06,0.0,RW_mYzHYfdqn6g7xVgIcKg,4.0,This was a real fun time. Lots of laughs and e...,NaN,NaN
23,79,yz3KtngrF2PQrif8JW7gdw,0,2016-05-28,0.0,SLA1YP9doUc8h-6Kd34QmA,1.0,Horrible. The smart ones have closed their acc...,NaN,NaN
26,83,T2XdzAcj0M_kBD9_BHfZlw,0,2016-05-08,0.0,qxPiEGIHy5xyVy78avH5Rg,4.0,Love the 'old school' ambiance. Friendly staff...,NaN,NaN
28,92,AtbXj3Rg1GF6Dj5zu6KCDg,0,2012-10-11,0.0,q6ij-nz5d_hvdjuelho1pQ,5.0,Better service and much better prices than the...,0.0,WnM2AmNIint5b5f688nmPg
29,95,6tSvz_21BMo3a4GaItwa0g,0,2017-04-08,0.0,66FSK2J1uHJqVI1Z8QiFGw,4.0,I love how they have no rice sushi options. Th...,0.0,Yy_iGXxLpL6tYDQoE-6XVg

In [30]:
df_corrupt.drop(21,axis = 0)

KeyError: '[21] not found in axis'

In [29]:
print(bad_rows)
print(type(bad_rows[0]))

[21, 22, 24, 25, 27, 31, 33, 34, 45, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 75, 102, 103, 104, 116, 117, 126, 143, 144, 146, 147, 148, 150, 151, 152, 153, 154, 155, 157, 158, 160, 161, 162, 164, 165, 166, 167, 169, 170, 171, 172, 174, 175, 177, 178, 181, 182, 183, 184, 186, 187, 188, 189, 191, 192, 193, 195, 197, 198, 200, 201, 202, 204, 205, 206, 208, 209, 211, 212, 213, 214, 216, 217, 219, 220, 221, 224, 225, 226, 227, 228, 229, 230, 232, 233, 234, 235, 236, 237, 238, 239, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 255, 256, 258, 260, 261, 262, 263, 264, 267, 268, 269, 271, 272, 273, 275, 276, 277, 278, 279, 280, 282, 283, 287, 288, 289, 290, 292, 293, 294, 296, 299, 300, 301, 302, 303, 304, 305, 308, 309, 310, 312, 313, 314, 315, 316, 317, 319, 322, 324, 325, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 338, 339, 340, 341, 342, 343, 344, 346, 347, 349, 357, 358, 359, 360, 372, 401, 403, 404, 406, 407, 408, 410, 417, 418, 420, 421, 422, 427, 431, 436, 437, 440, 442, 443, 444, 445, 446, 448, 450, 452, 453, 454, 456, 458, 459, 461, 462, 464, 465, 466, 467, 469, 470, 471, 472, 473, 474, 477, 478, 480, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 497, 498, 499, 500, 501, 504, 505, 510, 518, 543, 545, 556, 577, 579, 580, 581, 582, 584, 586, 588, 590, 592, 606, 608, 609, 631, 632, 633, 635, 636, 637, 638, 649, 651, 652, 654, 655, 689, 690, 709, 711, 712, 713, 714, 716, 717, 718, 719, 720, 722, 723, 724, 734, 735, 736, 737, 738, 741, 742, 743, 745, 747, 765, 769, 772, 773, 774, 775, 776, 794, 795, 802, 885, 886, 919, 920, 926, 927, 936, 937, 938, 939, 940, 942, 943, 951, 981, 982, 984, 986, 989, 991, 1003, 1004, 1006, 1019, 1026, 1044, 1051, 1058, 1060, 1061, 1066, 1067, 1085, 1086, 1094, 1095, 1125, 1137, 1143, 1144, 1154, 1165, 1166, 1168, 1169, 1170, 1176, 1182, 1183, 1185, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1208, 1209, 1217, 1249, 1256, 1257, 1258, 1261, 1264, 1272, 1282, 1286, 1295, 1303, 1304, 1306, 1321, 1322, 1323, 1335, 1337, 1338, 1339, 1344, 1345, 1347, 1348, 1351, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1370, 1377, 1380, 1382, 1383, 1384, 1410, 1411, 1413, 1414, 1416, 1417, 1418, 1419, 1421, 1422, 1423, 1424, 1426, 1428, 1429, 1431, 1432, 1433, 1435, 1436, 1437, 1439, 1440, 1441, 1444, 1448, 1449, 1453, 1472, 1475, 1478, 1480, 1484, 1485, 1486, 1487, 1488, 1489, 1492, 1507, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1520, 1522, 1523, 1524, 1532, 1533, 1535, 1536, 1555, 1556, 1560, 1566, 1581, 1584, 1585, 1597, 1606, 1607, 1608, 1609, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1626, 1633, 1634, 1640, 1647, 1649, 1651, 1665, 1666, 1686, 1698, 1705, 1714, 1751, 1753, 1755, 1781, 1801, 1803, 1851, 1852, 1853, 1862, 1863, 1877, 1878, 1879, 1886, 1887, 1907, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1942, 1945, 1958, 1959, 1960]
<class 'int'>

## Summary

Congratulations, you now practiced your pandas-importing skills!